[Desktop Entry]
Version=1.0
Type=Application
Name=Breakjaro log tool
Comment=create and provide logs for rescue
Exec=/usr/bin/eos-log-tool
Icon=hwinfo
Path=
Terminal=false
StartupNotify=false
